body{
    background-color: black;
    background-image: linear-gradient(to bottom, white, black);
    color: white;
    background-repeat: no-repeat;
}
ul{
    list-style-image: url(book.png);
}
nav{
    background-color: lightgray;
    color: black;
}
header{
    color: black;
}
section{
    float: left;
    width: 50%;
}
table{
    border: 2px solid #000000;
    background-color: #9b9b9b;
}
td{
    border-bottom: 2px dashed #000000;
    text-align: center;
    text-shadow: 1px 1px black;
}
th{
    border-bottom: 2px solid #000000;
    text-shadow: 1px 1px black;
}
input, textarea{
    display: block;
    margin-bottom: 20px;
}
label{
    float: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: 5px;
}
input[type="submit"]{
    margin-left: 120px;
}
nav a:hover{
    color: white;
}
nav a{
    text-decoration: none;
    transition: color 2s linear;
    color: black;
}